node_modules/
dist/
*.tsbuildinfo
*.log
.DS_Store
coverage/
.eslintcache
.stylelintcache

# editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo
*~

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
