# dependencies
node_modules/
/.pnp
.pnp.*

# build output
dist/
/build

# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem

# debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# env files
.env
.env.*
!.env.example

# testing
coverage/

# lint & style caches
.eslintcache
.stylelintcache

# editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo
*~

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
